<h1> About This Bear </h1>
<p>Name: <%= @bear.name %> </p>
<p>Species: <i><%= @bear.species %></i> </p>
<p>Location:
      <%= @bear.ranger.park.name %>
</p>

<p>Age: <%= @bear.age %> </p>
<p>Sex: <%= @bear.sex %> </p>
<p>Health: <%= @bear.health_status %> </p>
<p>Habituation: <%= @bear.habituation_status %> </p>
<p>Tagged by Ranger: <%= @ranger.name %> </p>

<br>
<a href="/bears/<%= @bear.id %>/edit"> Edit Bear</a>

<form method="post" action="/bears/<%= @bear.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Bear">
</form>
